.front{
    width: 400px;
    height: 600px;
    background: rgb(81, 94, 79);
    color:#fff ;
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 25px;
    margin-top: 30px;
    padding-top:2px;
}
#introduction {
    text-align: center;
} 
#about-game{
text-align: start;
} 
    
body {
    background: url("images/back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    text-color:#fff;
}
.input {
    text-align:left;
}
.spacing {
    padding-top:5px;
}
.footer {
    margin-bottom:0px;
    margin-top:700px;
    text-color : #fff; 
    text-align : centre;
    background-color:white;
}